.Header-bank{ width: 100%;
              height: 120px;
              position: absolute;
              top:0;
              background-color:rgba(10, 126, 70, 0.765);

}

.bank-logo { width: 90px;
height: 90px;
position:relative;
top: 15px;
left:10px;
}

h1 { display: inline-block;
     position: relative;
     top: 20px;
     left: 30px;
     font-size: xx-large;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:rgb(247, 218, 130);
}

.body-fill { width: 1919.5px;
             height:934.9px;
             background-color: rgb(255, 255, 255);
}

.img-carte-prep { width: 550px;
                  height: 300px;
                  position:absolute;
                  bottom:0px;
                  right:0px;                  

}





.welcom { color:rgba(10, 148, 26, 0.922);
          position: absolute;
          top: 210px;
          left: 775px;
          font-size: 90px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.divider { background-color:rgba(10, 148, 26, 0.922);
           height: 2px;
           width: 80%;
           position:fixed;
           top: 450px;
           left:180px;
        }
.next-btn.btn { position: absolute;
            bottom: 70px;
             right: 750px;
             font-size: 50px;
             background-color: rgb(13, 172, 13);
             color: #FFFF;
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             border-color: rgba(22, 192, 22, 0.908);
}
    
.testo1 { position: absolute;
bottom:170px;
left: 618px;
color: #000;
font-size: 40px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.testo-operations{ position:absolute;
    top:850px;
    left: 700px;
    color:rgba(10, 148, 26, 0.922);
    font-size: 50px;    
}
 .side-under{ position:absolute;
              top:900px;
              left:470px;
              max-width: 50%;
        }
.testo-alto { position: absolute;
    top:130px;
    left: 760px;
    color: #000;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-btn { width:90px;
            height: 90px;
            position:absolute;
            top:115px;
            left:-5px;
            display: inline;
}
 .home-text { color:rgba(12, 158, 134, 0.973);
              font-size: 35px;
              position:relative;
              top:132px;
              left:77px;
              display: inline;
              text-decoration: none;
              
 }

.main-container { display:grid;
    grid-template-columns:  repeat(2, 800px);
	grid-template-rows: repeat(3, 220px);
    gap: 5px;
    justify-content: center;
    position: absolute;
    top: 170px; 
    left: 160px;
    background-color:transparent;
}

.box-pagamenti {background-color:rgba(173, 213, 235, 0.92);
                border-color: rgba(63, 127, 225, 0.917);
                border-style: solid;
                width: 700px;
                height: 150px;
                border-radius: 7%;
                display:flex;
                flex-direction: column-reverse;
                position: relative;
                top: 50px;
                left: 50px;
                text-align: center;
                justify-content: center;
}

.box-versamenti {background-color:rgba(173, 213, 235, 0.92);
    border-color: rgba(63, 127, 225, 0.917);
    border-style: solid;
    width: 700px;
    height: 150px;
    border-radius: 7%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    top: 50px;
    left: 50px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    
}

.box-saldo {  background-color:rgba(173, 213, 235, 0.92);
    border-color: rgba(63, 127, 225, 0.917);
    border-style: solid;
    width: 700px;
    height: 150px;
    border-radius: 7%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    top: 30px;
    left: 50px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.box-prelievi { background-color:rgba(173, 213, 235, 0.92);
    border-color: rgba(63, 127, 225, 0.917);
    border-style: solid;
    width: 700px;
    height: 150px;
    border-radius: 7%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    top: 30px;
    left: 50px;
    text-align: center;
    justify-content: center;
}

.box-ricariche {  background-color:rgba(173, 213, 235, 0.92);
    border-color: rgba(63, 127, 225, 0.917);
    border-style: solid;
    width: 700px;
    height: 150px;
    border-radius: 7%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    top: 20px;
    left: 50px;
    text-align: center;
    justify-content: center;
}
.box-servizi { background-color:rgba(173, 213, 235, 0.92);
    border-color: rgba(63, 127, 225, 0.917);
    border-style: solid;
    width: 700px;
    height: 150px;
    border-radius: 7%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    top: 20px;
    left: 50px;
    text-align: center;
    justify-content: center;
}

.testo2 { color:rgba(9, 44, 131, 0.92);
          font-size: 50px;
          position:relative;
          left: 0px;
          top:10px;
}

.testo3 { position: absolute;
    top:130px;
    left: 590px;
    color: #000;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-sportello { width:550px;
                height: 600px;
                 position:absolute;
                 bottom: 100px;
                 left:680px;
}

.btn-conferma {     background-color: rgb(13, 172, 13);
                    border-style: solid ;
                    border-color:rgb(13, 172, 13);
                    color: #FFFF;
                    width: 300px;
                    height:100px;
                    font-size: 50px;
                    position:absolute;
                    bottom:80px;
                    left:1525px;

}

.btn-indietro { background-color: rgba(220, 220, 220, 0.762);
                border-style: solid;
                border-color: rgb(158, 206, 245);
                width: 300px;
                height:100px;
                font-size: 50px;
                position:absolute;
                bottom: 80px;
                left: 100px;
                }

.testo4 {position: absolute;
    top:130px;
    left: 390px;
    color: #000;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.form-pin { position:absolute;
            top:200px;
            left:700px;
            width:500px;
            
}
.form-control{ height:50px;
    position:relative;
    top:40px;

              }


.form-label {color: #000;
            font-size: larger;
            position:relative;
    top:40px;
        }

.form-text { font-size: larger;
    position:relative;
    top:45px
}

.tastiera {  width:60px;
             height:60px;
             background-color: rgb(209, 204, 204);
             color: #000;
             position:absolute;
             top:400px;
             left: 700px;
             text-align: center;
             justify-content: center;
             font-size: xx-large;
             border-style: ridge;

}

#due { position:absolute;
    top:400px;
    left: 810px;}

#tre {position:absolute;
        top:400px;
        left: 920px;}
#quattro {position:absolute;
    top:500px;
    left: 700px;}
#cinque {position:absolute;
    top:500px;
    left: 810px;}
#sei {position:absolute;
    top:500px;
    left: 920px; }

#sette {position:absolute;
    top:600px;
    left: 700px;}
#otto {position:absolute;
    top:600px;
    left: 810px;}

#nove {position:absolute;
    top:600px;
    left: 920px;}
#vuoto1{position:absolute;
    top:700px;
    left: 700px;}
#zero {position:absolute;
        top:700px;
        left: 810px;}
#vuoto2 {position:absolute;
    top:700px;
    left: 920px;}

.cancel{width:140px;
    height:60px;
    background-color: rgb(246, 11, 11);
    color: rgb(251, 248, 248);
    position:absolute;
    top:400px;
    left: 1070px;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    border-style: ridge;
    text-decoration: none;
}

.clear {width:140px;
    height:60px;
    background-color: rgb(246, 238, 11);
    color: #000;
    position:absolute;
    top:500px;
    left: 1070px;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    border-style: ridge;
    text-decoration: none;

}

.enter {width:140px;
    height:60px;
    background-color: rgb(10, 203, 64);
    color: rgb(253, 251, 251);
    position:absolute;
    top:600px;
    left: 1070px;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    border-style: ridge;
    text-decoration: none;}

.big-vuoto {width:140px;
    height:60px;
    background-color:rgb(209, 204, 204);
    position:absolute;
    top:700px;
    left: 1070px;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    border-style: ridge;
    text-decoration: none;}

.testo-tastiera{ font-size: 13px;
                 position:absolute;
                 top:-5px; 
                 right:2px;} 
.testo5 { position: absolute;
    top:130px;
    left: 795px;
    color: #000;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

    .circuito1{position:absolute;
                top:400px;
                left:600px;
                width:300px;
                height:70px;
                border-style: solid;
                border-width: 5px;}                

    .bancomat { position:relative;
    left:-30px;
    top:5px;
    display:inline;
    font-size: larger;
    color: green;
    font-weight: bold;
    }
 .icon-bancomat { width: 60px;
                  height: 40px;
                display:inline;
                position:relative;
                right:-50px;}

.circuito2 {position:absolute;
    top:400px;
    left:1100px;
    width:300px;
    height:70px;
    border-style: solid;
    border-width: 5px;}


    .icon-master {width: 60px;
                height: 40px;
                display:inline;
                position:relative;
                left:50px;}

.master {position:relative;
    left:-30px;
    top:5px;
    display:inline;
    font-size: larger;
    color: green;
    font-weight: bold}

    .annulla { position:absolute;
                bottom:70px;
                left:860px;
                color:green;
                font-size: larger;
                font-weight: bold;
}

.icon-card-back { width:60px;
                 height: 50px;
                 position:relative;
                 bottom:16px;
                 left:10px;
}

.testo6 {position: absolute;
        top:160px;
        left: 135px;
        color: #000;
        font-size: 65px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
}

.display-importo { width: 500px;
                    height: 230px;
                    background-color:rgba(255, 254, 254, 0.933);
                    position: absolute;
                    top:370px;
                    left:135px;
                    border-style:inset;
                    border-width: 7px;
                    color: rgba(6, 121, 79, 0.894);
                    font-size: 70px;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: bold;
                    text-align: right;   
}

.divider-small { width:600px;
    position:absolute;
    top:670px;
    left: 85px;
}

.testo7 {position: absolute;
    top:330px;
    left: 73%;
    color: rgba(6, 121, 79, 0.894);
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;}

.disponibility {color: rgba(6, 121, 79, 0.894);
                font-size: 55px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bold;
                text-align: left; 
                position:absolute;
                top:700px;
                left: 100px;
}

.conto-corrente{position:absolute;
    top:300px;
    left:800px;
    width:300px;
    height:90px;
    border-style: solid;
    border-width: 5px;}

.conto-corrente-testo {position:relative;
    left:-15px;
    top:15px;
    display:inline;
    font-size: larger;
    color: green;
    font-weight: bold;
}

.icon-conto-corrente {  width: 60px;
                        height: 40px;
                        display:inline;
                        position:relative;
                        right:-10px;
                        top:10px;
}

.carte {position:absolute;
    top:500px;
    left:800px;
    width:300px;
    height:90px;
    border-style: solid;
    border-width: 5px;}

.carte-testo {position:relative;
    left:-65px;
    top:17px;
    display:inline;
    font-size: larger;
    color: green;
    font-weight: bold;}

.icon-carte {width: 60px;
    height: 40px;
    display:inline;
    position:relative;
    right:-60px;
    top:10px;}

.user-btn { width:90px;
    height: 90px;
    position:absolute;
    top:130px;
    left:10px;
    display: inline;
}
.user-text { color:rgba(12, 158, 134, 0.973);
            font-size: 35px;
            position:relative;
            top:147px;
            left:113px;
            display: inline;
            text-decoration: none;
}

.display-saldo {  border-width: 1.6px;
                border-style:outset;
                  width: 500px;
                  height: 210px;
                  position:absolute;
                  top:140px;
                  left:700px; 
                  background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #6ce9bbdc 100%);  
}
.conto-t { color:black;
           position:absolute;
           top:5px;
           left:10px;
           font-size: 19px; 
           font-weight: 600;
}

.saldo-t {color:black;
    position:absolute;
    top:45px;
    left:40px;
    font-size: 35px; 
    font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.visibility { width: 50px;
    height: 50px;
    display: inline;
    position:absolute;
    left:422px;
    top:15px;
}

.no-visibility {width: 60px;
    height: 60px;
    display: inline;
    position:absolute;
    left:419px;
    top:70px;}





.smallest { width:400px;
            position:absolute;
            top:130px;
            left:46px;}

.IT { color:rgb(74, 74, 74);
    position:absolute;
    top:150px;
    left:10px;
    font-size: 19px; 
    font-weight: 400;
}

.help { width:45px;
    height: 45px;
    position:absolute;
    top:-50px;
    left:-4px;}

.aiuto {position:absolute;
    top:188px;
    left:1800px;
    color:rgba(6, 121, 79, 0.894);
    text-decoration: none;}

.logout {width:20px;
        height: 20px;
        margin-right: 9px;
}

.dropdown-item { height: 60px;
                 vertical-align: middle;
                 font-size: xx-large;    
}

.visualizza-tutte { background-color: #FFFFFF;
    border-style: solid ;
    border-width: 2px;
    border-color:rgb(13, 172, 13);
    color:rgb(13, 172, 13);
    width: 450px;
    height:100px;
    font-size: 45px;
    position:absolute;
    bottom:60px;
    left:1425px;
}

.cronologia { position:absolute;
            top:400px;
            left:600px;
            width:700px;
            height: 514px;
            border-style: outset;
            border-width: 2.2px;
            border-color: green;
        }

.movimento { background-color: #FFFFFF;
            width:694.2px;
            height: 85px;
            position: absolute;
            top:0px;
            border-bottom: 1px solid gray;
            border-top: 1px solid rgb(9, 8, 8);
        }
        

.spesa { width:70px;
        height: 70px;
        position:absolute;
        top:-2px;
        left:20px;
        margin: 10px;}

.descrizione-movimento {position:absolute;
                        left:150px;
                        top:8px;
                        color: #000;}
                    
.d-movimento { position:absolute;
                left:150px;
                top:30px;
                color: #000;}

.costo { display:inline;
        position:absolute;
        left:590px;
        top:40px;
        color: #000;
}

.movimento2 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:85px;
    border-bottom: 1px solid rgb(9, 8, 8);
    border-top: 0.5px solid rgb(9, 8, 8);
}

.spesa2 { width:60px;
    height: 60px;
    position:absolute;
    left:23px;
    top:2px;
    margin: 10px;}

.movimento3 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:170px;
    border-bottom: 1px solid rgb(9, 8, 8);
}

.movimento4 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:255px;
    border-bottom: 1px solid rgb(9, 8, 8);
}

.Stipendio { width:78px;
    height: 78px;
    position:absolute;
    left:18px;
    margin: 5px;
}

.movimento5 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:340px;
    border-bottom: 1px solid rgb(9, 8, 8);
}

.movimento6 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:425px;}

.cronologia2 { 
        position:absolute;
        top:400px;
        left:600px;
        width:698px;
        height: 679px;
        border-style: outset;
        border-width: 2.2px;
        border-color: green;
    }
    
.movimento7 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:505px;
    border-bottom: 1px solid rgb(9, 8, 8);
    border-top: 1px solid rgb(9, 8, 8);
}

.movimento8 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:590px;}

.pagination { position:absolute;
              top: 860px;
              left:750px;
}

.page-link { border-color: rgba(6, 121, 79, 0.894);
             color: rgba(6, 121, 79, 0.894);

}

.movimento9 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:0px;
    border-bottom: 1px solid gray;}

    .movimento10 {background-color: #FFFFFF;
        width:694.2px;
        height: 85px;
        position: absolute;
        top:85px;
        border-bottom: 1px solid rgb(9, 8, 8);
    }

.movimento11 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:170px;
    border-bottom: 1px solid rgb(9, 8, 8);}

.movimento12 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:255px;
    border-bottom: 1px solid rgb(9, 8, 8);}

.movimento13 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:340px;
    border-bottom: 1px solid rgb(9, 8, 8);}
.movimento14 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:425px;
    border-bottom: 1px solid rgb(9, 8, 8);
}
.movimento15 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:505px;
    border-bottom: 1px solid rgb(9, 8, 8);
    border-top: 1px solid rgb(9, 8, 8);
}

.movimento16 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:590px;
}

.movimento17 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:0px;
    border-bottom: 1px solid gray;
}

.movimento18 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:85px;
    border-bottom: 1px solid rgb(9, 8, 8);
}

.movimento19 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:170px;
    border-bottom: 1px solid rgb(9, 8, 8); }
.movimento20 { background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:255px;
    border-bottom: 1px solid rgb(9, 8, 8);}
.movimento21 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:340px;
    border-bottom: 1px solid rgb(9, 8, 8);}

.movimento22 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:425px;}
.movimento23 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:505px;
    border-bottom: 1px solid rgb(9, 8, 8);
    border-top: 1px solid rgb(9, 8, 8);
}
.movimento24 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:590px;}
.movimento25 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:0px;
    border-bottom: 1px solid gray;}
.movimento26 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:85px;
    border-bottom: 1px solid rgb(9, 8, 8)}
.movimento27 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:170px;
    border-bottom: 1px solid rgb(9, 8, 8); }
.movimento28 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:255px;
    border-bottom: 1px solid rgb(9, 8, 8);}
.movimento29 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:340px;
    border-bottom: 1px solid rgb(9, 8, 8);
}

.movimento30 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:425px; }
.movimento31 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:505px;
    border-bottom: 1px solid rgb(9, 8, 8);
    border-top: 1px solid rgb(9, 8, 8);}
.movimento32 {background-color: #FFFFFF;
    width:694.2px;
    height: 85px;
    position: absolute;
    top:590px;}
.indietro { color: rgba(12, 158, 134, 0.973);
           position:absolute;
           top:130px;
           left:20px;
            font-size: xx-large;
            text-decoration: none;
        }

.ind { width:50px;
       height:40px;
        position:relative;
        top:-4px;}

.impostazioni {position:absolute;
               top:210px;
                left: 750px;
                text-decoration: none;
                color: #000;
                font-size: x-large;
                font-weight: 500;}
    
.grey { width: 400px;
height: 186px;
background-color: rgba(224, 224, 224, 0.856);
position:absolute;
top:250px;
left:750px;}

.notifiche { font-size: xx-large;
             width: 400px;
             
            }
             
.dropdown {transform: rotate(133deg);}

.f-veloci {font-size: xx-large;
            width: 400px;
            position:relative;
            top:0px;
}

.privacy {position:absolute;
            top:545px;
            left: 750px;
            text-decoration: none;
            color: #000;
            font-size: x-large;
            font-weight: 500;}

.grey2 {width: 400px;
    height: 124px;
    background-color:rgba(224, 224, 224, 0.856);
    position:absolute;
    top:590px;
    left:750px;}

.lucchetto {width:30px;
    height: 30px;
    margin-right: 9px;}

.domande {position:absolute;
            top:300px;
            left:700px;
           width: 500px;
        text-align: center;}

.domande2 {position:absolute;
            top:450px;
            left:700px;
            width: 500px;
            text-align: center;}

.domande3 {position:absolute;
    top:600px;
    left:700px;
    width: 500px;
    text-align: center;}

.info {position:absolute;
    top:760px;
    left:700px;
    width: 500px;
    text-align: center;}

.call-center { width: 70px;
height: 70px;
position: relative;
left:-50px;
top:15px;
display: inline;}

.contattaci { color: rgb(12, 163, 12);
              font-weight: 500;
              position: relative;
              top:-25px;
              left:-43px;}
.x {color:gray;
    font-size: 50px;
    font-weight: 300;
    position:absolute;
    top:110px;
    right:40px;
    text-decoration: none;}

.guide { color:#000;
         position:absolute;
         bottom:50px;
         left:755px;
        text-decoration: none;
    font-size: x-large;}

.t-guide {color: rgb(12, 163, 12);
    font-weight: 500;
    position: relative;
    top:0px;
    left:100px;
   text-decoration: none;}

.importo { font-size: 100px;
    position:absolute;
    top: 330px;
    left:125px;
}

.divider-x-small { width: 400px;
    position:absolute;
    top:500px;
    left:100px;}

.modifica-importo { background-color: #FFFFFF;
                    border-style: solid ;
                    border-width: 2px;
                    border-color:rgb(13, 172, 13);
                    color:rgb(13, 172, 13);
                    width: 350px;
                    height:100px;
                    font-size: 40px;
                    position:absolute;
                    bottom:60px;
                    left:125px;
                    align-items: center;
                    justify-content: center;
}

.modifica-testo { position:relative;
                  top: 8px;}

.green-panel { width: 720px;
    height: 817px;
    position:absolute;
    top:120px;
    left:1200px;
    background-color: rgb(13, 172, 13); 
}

.testo-scontrino { color: #FFFFFF;
    font-size: 75px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: left; 
    position:absolute;
    top:80px;
    left: 80px;
}

.testo-scelta {color: #FFFFFF;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
    position:absolute;
    top:300px;
    left: 80px;}

.btn-scontrino{background-color: rgb(13, 172, 13);
    border-style: solid ;
    border-width: 2px;
    border-color:#FFFFFF;
    color:#FFFFFF;
    width: 350px;
    height:100px;
    font-size: 30px;
    position:absolute;
    top:480px;
    left:80px;
    align-items: center;
    justify-content: center;
    
}

.foglia { width:70px;
height: 70px;
position:relative;
right:-115px;
top: -30px;
display:inline
}

.senza-scont { display: inline;
               font-size: 20px;
               position:relative;
               top: -10px;}

.con-scont { font-size: 20px;
            position:relative;
            top: 5px;}

.carousel { position:absolute;
            top:120px;
            left:320px;
            width:1305px;}
        
.testo-ritira { color: #FFFFFF;
    font-size: 75px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center; 
    position:absolute;
    top:80px;
    left: 370px;}

.testo-tempo {color: #FFFFFF;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: initial;
    text-align: center; 
    position:absolute;
    top:190px;
    left: 540px;}

    .gif-ritiro-carta {  position:absolute;
        top:290px;
        left: 470px;
        width: 380px;}

.btn-return {  position: absolute;
              bottom: 25px;
              right:30px;
              width: 160px;
              height: 160px;}

.euro { position:absolute;
        top:507px;
        left:650px;
        color: rgba(6, 121, 79, 0.894);
        font-size: 70px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: right;   
}

.messageOfError { color:red;
                font-size: 30px;
                font-weight: 500;
                position:absolute;
                top:140px;
                left:800px;}

.no-aggiornamenti {position:absolute;
                    top: 365px;
                    left:820px;
                    color: #000;
                    font-size: x-large;
                    font-weight: 400;
                    font-style: oblique;}

.istruzioni-versamenti { position:absolute;
    top: 270px;
    left: 133px;
    color: rgba(6, 121, 79, 0.894);
    font-size: xx-large;
}

.banconote-assegni { width: 150px;
    height: 150px;
    position: absolute;
    top:-30px;
    left: -160px;
}

.istruzione_vers {
font-size: 30px;
font-weight: 600;
text-decoration: none;
color: rgba(6, 121, 79, 0.894);
position:absolute;
top: 400px;
left: 630px;

}


.banconote-assegni-2 { width: 150px;
    height: 150px;
    position: absolute;
    top:-24px;
    left: -170px;
}    

.istruzione_vers-2 {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(6, 121, 79, 0.894);
    position:absolute;
    top: 405px;
    left: 1300px;
    
    }

    .banconote-assegni-3 { width: 150px;
        height: 150px;
        position: absolute;
        top:-45px;
        left: -170px;
    }    
    
    .istruzione_vers-3 {
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        color: rgba(6, 121, 79, 0.894);
        position:absolute;
        top: 600px;
        left: 630px;
        
        }

        .banconote-assegni-4 { width: 125px;
            height: 130px;
            position: absolute;
            top:-15px;
            left: -180px;
        }    
        
        .istruzione_vers-4 {
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;
            color: rgba(6, 121, 79, 0.894);
            position:absolute;
            top: 605px;
            left: 1300px;
            
            }

.tipo-versamento {

                    width: 300px;
                    height: 70px;
                    position: absolute;
                    bottom: 50px;
                    left: 600px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: rgba(6, 121, 79, 0.894); 
                    background-color: #FFFFFF;
                    color:black;
                    font-size: xx-large;
                    font-weight: 450;

}

.banconote {
width:50px;
height:50px;
position:relative;
right:-13px;
}

.tipo-versamento-2 {
                    width: 300px;
                    height: 70px;
                    position: absolute;
                    bottom: 50px;
                    left: 1000px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: rgba(6, 121, 79, 0.894); 
                    background-color: #FFFFFF;
                    color:black;
                    font-size: xx-large;
                    font-weight: 450;}

.caro-inserisci-banconote { width: 1300px;
                            height: 817px;
                            position:absolute;
                            top:120px;
                            left:330px;
                            color:#FFFFFF;
                            z-index: 0;}
.gif-inserisci-banconote {
                            position:absolute;
                            top:400px;
                            left:800px;
                            width:400px;
                            height: 400px;
}

.assegno { width:500px;
           height: 500px;
           position:absolute;
           top:270px;
           left: 700px;
           
}

.icon-tastiera { width:400px;
            height:350px;
            position:absolute;
            top:570px;
            left:160px;
            border:none;
            z-index: 0;
}

.taglio-banconota {
                     width: 300px;
                     height: 130px;
                     border: solid;
                     border-width: 3px;
                     border-color:  rgba(6, 121, 79, 0.894);
                     position:absolute;
                     top:350px;
                     left: 100px;
                     }

.testo-taglio { font-size: 50px;
                font-weight: 500;
                color:rgba(6, 121, 79, 0.894);
                position:absolute;
                top: 25px;
                left:118px
}

.numero-biglietti { position:absolute;
                    top:390px;
                    left: 450px;
                    width: 150px;
                    border-style: ridge;
                    border-color: #000;
}

.immagine_di_banconote { position:absolute;
                         left: 700px;
                         top: 350px;
                         width: 700px;
                         height:400px;
}

.input_importo_assegno {width:500px;
                        height: 80px;
                        position:absolute;
                        top:400px;
                        left:130px;
                        border-style: ridge;
                    border-color: #000;
                    color:rgba(6, 121, 79, 0.894);
                    font-size: xx-large;
                    font-weight: 500;
}